/* * {
    border: 1px solid red;
} */

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.541) 100%,rgba(255, 255, 255, 0.6) 0%), url("../images/website.background.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 5px solid rgb(18, 19, 18);
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.title {
    font-family: cursive;
    padding: 10px;
    line-height: 2px;
    text-shadow: -2px 1px 0px #e7f888;
}

h3 {
    padding: 15px;
    font-family: 'Fira Sans', cursive;
    text-shadow: -2px 1px 0px white;
}


/*body*/

main {
    margin: 40px;;
}

.container p{
    padding: 10px;
}

.container{
    box-sizing: content-box;
}

img {
    margin: 10px;   
}

/*recipe box*/

table {
    width: 100%;
    border-radius: 25px;
    border: 2px dashed black;
    display:flex;
    margin:40px;
    
}

th, tr, td {
    padding: 15px;
}



/*contact*/

.contact {
    border: 2px dotted black;
    width:fit-content;
    padding: 30px;
    margin: 30px;
}

.contact li {
    list-style-type: none;
    padding: 5px;
} 




/* Header and Footer */
.headfoot {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgba(247, 189, 103, 0.692);
    border: 2px solid rgb(68, 175, 73);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: -1px 1px 2px rgba(89, 182, 125, 0.671);
}
/* End Header and Footer */ 

/* Navigation */
.nav > ul > li {
    display: inline-block;
    list-style-type: none;
    border: 1px groove black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px 20px;
    box-shadow: -1px 1px 2px black;
    margin-top: 25px;
}
.nav > ul > li a:hover {
    color: white;
}

.nav > ul > li a:visited {
    color: rgb(134, 36, 247);
    } 

.nav > ul > li a:active {
    color: rgb(248, 103, 110);
    } 



ul > li.coming-soon {
    display: none;}



/* End Navigation */


/*footer*/

footer p {
    padding:5px;
}

/*
.checkbox {
    border: 1px groove black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px 20px;
    box-shadow: -1px 1px 2px black;
}
*/


iframe{

    margin:15px;
    width :400px;
    height: 200px;
}

.diet > th {
    size: 20px;
}
